.about-container {
  background-color: #fdf5e6; /* Light cream background for a warm feel */
  padding: 40px 20px;
  border-radius: 15px; /* Rounded corners for a soft look */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  max-width: 800px;
  margin: 20px auto; /* Center the container */
  font-family: "Georgia", serif; /* Elegant font for a classy look */
  color: #333; /* Dark text for readability */
}

.about-container h1 {
  font-size: 2.5em;
  color: #f4c542; /* Golden color for the title */
  text-align: center;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.2em;
  line-height: 1.8; /* Improved readability */
  margin-bottom: 20px;
}

.about-container span {
  font-weight: bold;
  color: #c9a019; /* Highlighted text in golden color */
}

.about-container p:last-of-type {
  margin-bottom: 40px; /* Add extra space before the TipJar */
}

.about-container .tip-jar-container {
  margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .logo {
    font-size: 1.5em; /* Reduce logo font size */
  }

  li {
    margin-right: 10px; /* Reduce spacing between list items */
    padding: 5px; /* Reduce padding for list items */
  }

  a {
    font-size: 0.9em; /* Reduce font size for links */
  }
}
